@charset "utf-8";
/* layout.css는 모바일 청첩장 각 레이아웃을 정의합니다. */

/* ********************* 청첩장 ********************* */
.mcard_ckjl .sec-tit{
	position:relative;
	padding-top:0.938rem;
	margin-bottom:2.5rem;
	font-family:'KoPub Batang';
	font-size:0.688rem;
	font-weight:700;
	line-height:1.250rem;
	text-align:center;
	color:#111;
	letter-spacing:0.4em;
}
.mcard_ckjl .sec-tit:after{
	content:'';
	position:absolute;
	left:3.438rem; top:0;
	display:block;
	width:calc(100% - 6.875rem);
	height:1px;
	background-color:#0c0c0c;
}
.mcard_ckjl .com-btn.tel.sl{
	background-color:#78c0e9;
}
.mcard_ckjl .com-btn.tel.sb{
	background-color:#f79e9e;
}
.mcard_ckjl .com-btn.acc.sl{
	background-color:#78c0e9;
}
.mcard_ckjl .com-btn.acc.sb{
	background-color:#f79e9e;
}
.mcard_ckjl .com-btn.sms{
	background-color:#ddd;
}
.mcard_ckjl .tbanner-section .text.vertical{
	padding-bottom:2.188rem;
	background:url("/images/layout/wedding_day.png") center bottom 1px no-repeat;
	background-size:7.750rem auto;
}

.mcard_ckjl .visual-section{
	height:100%;
}
.mcard_ckjl .visual-section .vertical-center{
	height:100%;
	/* padding:2.5rem 0; */
	padding:5.625rem 0 6.625rem;
}

.mcard_ckjl .visual-section .vertical-item{
	width:100%;
	padding:0 3.438rem;
}
.mcard_ckjl .visual-section .vertical-item.date{
	margin-bottom:1.563rem;
}
.mcard_ckjl .visual-section .vertical-item .date{
	width:1.875rem;
	min-height:5rem;
	padding-left:0.625rem;
	font-family:'KoPub Batang';
	font-size:1rem;
	font-weight:300;
	line-height:1.250rem;
	text-align:center;
	text-transform:uppercase;
	border-left:1px solid #090303;
}
.mcard_ckjl .visual-section .vertical-item .date.large{
	width:2rem;
    min-height:5.125rem;
	font-size:1.125rem;
	font-weight:300;
	line-height:1.375rem;	
}
.mcard_ckjl .visual-section .vertical-item .date.big-large{
	width:2.125rem;
    min-height:5.25rem;
	font-size:1.25rem;
	font-weight:300;
	line-height:1.5rem;	
}
.mcard_ckjl .visual-section .vertical-item.photo img{
	width:100%;
}
.mcard_ckjl .visual-section .vertical-item.info{
	margin-top:1.125rem;
	text-align:right;
}
.mcard_ckjl .visual-section .vertical-item.info .p1{
	margin-bottom:0.938rem;
	font-size:0; 
	line-height:0;
}
.mcard_ckjl .visual-section .vertical-item.info .p1 .vs-span{
	display:inline-block;
	vertical-align:top;
	font-size:1rem;
	font-weight:400;
	line-height:1.250rem;
	letter-spacing:0.2em;
}
.mcard_ckjl .visual-section .vertical-item.info .p1 .vs-span.large{	
	font-size:1.125rem;	
	line-height:1.375rem;	
}
.mcard_ckjl .visual-section .vertical-item.info .p1 .vs-span.big-large{	
	font-size:1.25rem;	
	line-height:1.5rem;	
}
.mcard_ckjl .visual-section .vertical-item.info .p1 .bar{
	margin:0 0.625rem;
	height:1.250rem;
	width:0.500rem;
	background:url('/images/layout/bar.png') center center no-repeat;
	background-size:0.500rem;
	letter-spacing:0;
}
.mcard_ckjl .visual-section .vertical-item.info .p1 .bar.large{
	margin:0 0.75rem;
	height:1.375rem;
	width:0.625rem;	
    background:url('/images/layout/bar.png') center center no-repeat;
	background-size:0.625rem;
	letter-spacing:0;
}
.mcard_ckjl .visual-section .vertical-item.info .p1 .bar.big-large{
	margin:0 0.875rem;
	height:1.5rem;
	width:0.75rem;	
    background:url('/images/layout/bar.png') center center no-repeat;
	background-size:0.75rem;
	letter-spacing:0;
}
.mcard_ckjl .visual-section .vertical-item.info .p2{
	font-size:0.750rem;
	font-weight:400;
	line-height:1.125rem;
}
.mcard_ckjl .visual-section .vertical-item.info .p2.large{
	font-size:0.813rem;
	font-weight:400;
	line-height:1.188rem;
}
.mcard_ckjl .visual-section .vertical-item.info .p2.big-large{
	font-size:0.875rem;
	font-weight:400;
	line-height:1.25rem;
}
.mcard_ckjl .greeting-section{
	margin-top:-3.125rem;
}
.mcard_ckjl .honjuTel-section .honju-tit.sl{
	color:#111;
}
.mcard_ckjl .honjuTel-section .honju-tit.sb{
	color:#111;
}

/* ********************* 감사장 ********************* */
.mthank{font-family:"Nanum Myeongjo", sans-serif, 'helvetica', serif, 'AppleGothic';}
.mthank .visual-section .vertical-top{padding:3.750rem 0 0;}
.mthank .visual-section .vertical-item{width:100%;}
.mthank .visual-section .vertical-item.tit{margin-bottom:3.750rem; padding-top:1.563rem; background:url("/images/common/thank_english.png") top 1px center no-repeat; background-size:3.938rem auto;}
.mthank .visual-section .vertical-item.tit .p1{padding-left:0.375rem; font-size:0;}
.mthank .visual-section .vertical-item.tit .vs-span{position:relative; font-size:1rem; font-weight:400; line-height:1; color:#111; letter-spacing:0.625em;}
.mthank .visual-section .vertical-item.tit .bar{font-size:0.875rem;}
.mthank .visual-section .vertical-item.photo{text-align:center;}
.mthank .visual-section .vertical-item.photo img{width:17.875rem;}
.mthank .visual-section .vertical-item.info{margin-top:3.750rem;}
.mthank .visual-section .vertical-item.info .p1{margin-bottom:1rem; line-height:0;}
.mthank .visual-section .vertical-item.info .p1 img{height:1rem;}
.mthank .visual-section .vertical-item.info .dday .ib{ position:relative; padding:1px 0.188rem 0; font-size:0.688rem; font-weight:400; line-height:1.313rem; color:#70a257; letter-spacing:0.125em; white-space:nowrap;}
.mthank .visual-section .vertical-item.info .dday .ib:after,
.mthank .visual-section .vertical-item.info .dday .ib:before{content:''; display:block; width:100%; height:1px; background-color:#70a257;}
.mthank .visual-section .vertical-item.info .dday .ib:after{position:absolute; left:0; top:0;}
.mthank .visual-section .vertical-item.info .dday .ib:before{position:absolute; left:0; bottom:0;}
