@font-face {
	font-family:'questrial';
	font-style:normal;
	font-weight:100;
	src:url(/fonts/questrial/Questrial-Regular.eot);
	src:url(/fonts/questrial/Questrial-Regular.eot?#iefix) format('embedded-opentype'), 
		url(/fonts/questrial/Questrial-Regular.woff) format('woff'),
		url(/fonts/questrial/Questrial-Regular.otf) format('opentype')
}
